.intro {
  h1 {
    font-family: var(--font);
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 175px 0;
  }
}
