.l-intro-img {
  background-image: url(../img/header-background.webp);
  background-position: center top;
  background-size: cover;
}

.l-presentation {
  background-image: url(../img/Pattern.webp);
  background-size: cover;
}
